
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            all: unset;
            cursor: pointer;
            display: block;
        }

        body,
        html {
            height: 100%;
            width: 100%;
        }

        #wrap {
            width: 100%;
            height: 100%;
        }

        #gnb__wrap {
            width: 200px;
            background-color: #9fdeff;
            height: calc(100% - 10px);
            margin: 5px;
            box-shadow: 3px 3px 10px 0 #838383;
            color: #fff;
            position: absolute;
        }

        .logo__area {
            /*text-align: center;*/
            font-size: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.46);
            width: 80%;
            position: relative;
            margin-left: 10%;

            position: relative;
        }

        .logo__area img {
            width: 100%;
        }

        .gnb__area {
            position: relative;

            top: 0;
            left: 0;
            width: 100%;
        }

        .gnb__area li {
            height: 60px;
            line-height: 60px;
            width: 100%;
            height: 100%;


        }

        .gnb__area li a {
            height: 60px;
            padding-left: 20px;
            position: relative;
            font-weight: bold;
        }

        .gnb__area li a .gnb__active {
            width: 15px;
            position: absolute;
            height: 15px;
            background-color: #4d93b7;
            transform: rotate(45deg);
            right: -7.5px;
            top: 50%;
            margin-top: -7.5px;
            display: none;

        }

        .gnb__area li a:hover,
        .gnb__area li a.on {
            background-color: #4d93b7;
        }

        .gnb__area li a:hover .gnb__active,
        .gnb__area li a.on .gnb__active {
            display: block;
        }

        #content__wrap {
            width: calc(100% - 210px);
            margin-left: 210px;
            position: absolute;

            height: 100%;
        }

        #content__wrap .content__title__area {
            height: 200px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 30px;

        }

        .content__title__area img {
            height: 100%;
        }

        .content__area {
            width: 80%;
            height: calc(100% - 230px);
            margin-top: 230px;
            margin-left: 10%;

            position: relative;
        }

        .content__li {
            width: 100%;
            height: calc(100% - 50px);
            background-color: white;
            left: 50%;
            margin-top: 20px;
            position: absolute;
            transform: translateX(-50%);
            display: none;
        }

        .content__li:nth-child(2) {
            background-color: white;
        }

        .content__li:nth-child(3) {
            background-color: white;
        }

        .content__li.on {
            display: block;
        }
    </style>